.common{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    color: darkred;
}

body{
    background-color: ivory;
}

nav{
    background-color: whitesmoke;
    height: 35px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    line-height: 35px;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 10px 10px;
}

nav a:hover{
    background-color: white;
}

img{
    width: 25%;
}

.footer{
    background-color: darkred;
    color: white;
    height: 25px;
    bottom: 0px;
    position: fixed; 
    left: 0px;
    right: 0px; 
    padding-top: 10px;
    font-size: 10px; 
    text-align: center;
}

li{
    margin: 5px 0;
}

.link{
    position: center;
    text-decoration: underline;
}

.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}